$heart-size: 32px;
$avatar-size: 32px;
$container-padding: 16px;

.board_list{
  margin-top: 24px;
  margin: 6px;
  line-height: 2.5;
  text-align: center;
  padding: $container-padding $container-padding;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
}